<div class="locations-table">
    @for (location of userParentLocations?.data ?? []; track location.id) {
        <div class="locations-table__parent">
            <mat-checkbox (change)="locationToggled.emit({ locationId: location.id, linked: $event.checked })"
                          [checked]="true"/>
            <strong>{{ location.name }}</strong>
        </div>
        <app-sublocations-inner-table
                (loadMore)="sublocationsLoadRequested.emit($event)"
                (sublocationToggled)="sublocationToggled.emit($event)"
                [locationId]="location.id"
                [sublocationsState]="sublocationsMap[location.id]"/>
    }
</div>
<mat-paginator (page)="pageChanged.emit($event)" [length]="userParentLocations?.totalCount ?? 0"
               [pageIndex]="userParentLocations?.pageIndex ?? 0" [pageSizeOptions]="[5, 10, 25]"
               [pageSize]="userParentLocations?.pageSize ?? 5"/>
