<div class="locations-table">
  @for (location of groupedLocations?.data ?? []; track location.id) {
    <div class="locations-table__parent"><mat-checkbox checked disabled /> <strong>{{ location.name }}</strong></div>
    @for (sub of location.sublocations; track sub.id) {
      <div class="locations-table__sub"><mat-checkbox [checked]="sub.isLinkedToUser" (change)="sublocationToggled.emit({ locationId: sub.id, linked: $event.checked })" /> <span>{{ sub.name }}</span></div>
    }
  }
</div>
<mat-paginator [length]="groupedLocations?.totalCount ?? 0" [pageIndex]="groupedLocations?.pageIndex ?? 0" [pageSize]="groupedLocations?.pageSize ?? 5" [pageSizeOptions]="[5, 10, 25]" (page)="pageChanged.emit($event)" />
